* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  background: black;
  color: white;
}

/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 20px 60px;

  z-index: 10;
}

.logo {
  letter-spacing: 3px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;

  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;

  width: 0%;
  height: 1px;
  background: white;

  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* ===== SEÇÕES ===== */
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 0 20px;
}

/* HERO */
.hero {
  background: radial-gradient(circle at top, #111, #000);
}

.hero h1 {
  font-size: 60px;
  letter-spacing: 4px;

  animation: fadeUp 1.2s ease;
}

.hero p {
  margin-top: 10px;
  opacity: 0.7;

  animation: fadeUp 1.4s ease;
}

button {
  margin-top: 25px;
  padding: 12px 25px;

  background: white;
  border: none;
  cursor: pointer;

  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* SEÇÕES COM IMAGEM */
.rocket,
.missions {
  flex-direction: row;
  justify-content: space-around;
  padding: 0 80px;
}

.rocket img,
.missions img {
  width: 500px;
  border-radius: 10px;

  animation: float 4s ease-in-out infinite;
}

.text h2 {
  font-size: 40px;
}

.text p {
  margin-top: 10px;
  opacity: 0.7;
}

/* STARLINK */
.earth {
  background: url("https://www.spacex.com/static/images/backgrounds/starlink.jpg");
  background-size: cover;
  background-position: center;
}

/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  opacity: 0.5;
}

/* ANIMAÇÕES */
@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
